body{
    background-color:rgb(0, 183, 255);
    color:black;
}
.heading{
    width:80%;
    font-size:22px;
}
#camera{
    border:2px dashed black;
    width:350px;
    height:300px;
}
#result_object_name, #result_object_accuracy, .name_of_objects{
    color:orange;
    font-size:25px;
}